In [1]:
import pandas as pd

In [63]:
a=int(input("Ingrese a que es numero primo: "))
b=int(input("Ingrese b que es numero primo: "))
m=int(input("Ingrese m que es numero primo: "))
x0=int(input("Ingrese Semilla: "))
itera=int(input("Ingrese numero de iteraciones: "))
i=0
Xn=0
Un=0
LXn=[]
LUn=[]
Liter=[]
Xn=x0
Liter.append(i)
i=i+1
LXn.append(Xn)
LUn.append(Un)
while(i <= itera):
    Liter.append(i)
    Xn= (a * Xn + b) % m
    LXn.append(Xn)
    Un=Xn/m
    LUn.append(Un)
    i=i+1
    
data={'Iteracion':Liter,'Xn':LXn,'Un':LUn}
df=pd.DataFrame(data)
df

Ingrese a que es numero primo: 3
Ingrese b que es numero primo: 5
Ingrese m que es numero primo: 19
Ingrese Semilla: 1
Ingrese numero de iteraciones: 20

    Iteracion  Xn        Un
0           0   1  0.000000
1           1   8  0.421053
2           2  10  0.526316
3           3  16  0.842105
4           4  15  0.789474
5           5  12  0.631579
6           6   3  0.157895
7           7  14  0.736842
8           8   9  0.473684
9           9  13  0.684211
10         10   6  0.315789
11         11   4  0.210526
12         12  17  0.894737
13         13  18  0.947368
14         14   2  0.105263
15         15  11  0.578947
16         16   0  0.000000
17         17   5  0.263158
18         18   1  0.052632
19         19   8  0.421053
20         20  10  0.526316